doctype
html(lang="ru")
  head
    title= worldName
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    style(type="text/css").
      html,body{padding:0;margin:auto;overflow:hidden;}
  body
    script(src="/scripts/ramda.min.js")
    script(src="/scripts/pixi.min.js")
    script(src="/scripts/p2.min.js")
    script(src="/scripts/phaser-creature.min.js")
    script(src="/scripts/WorldWeb.js")
    script(src="/scripts/worldWeb.js")